/* Reset */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: none;

	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}
li {
	list-style: none;
}
img {
	vertical-align: middle;
	max-width: 100%;
}
html,
body {
	line-height: 1;
	height: 100%;
}

address {
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: inherit;
}

/* FORM */
select,
input,
button,
textarea {
	font: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
button,
select,
option {
	cursor: pointer;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	appearance: none;
}
label {
	display: block;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.manrope-regular {
    font-family: "Manrope";
    font-weight: 400;
    font-style: normal;
}

.manrope-medium {
    font-family: "Manrope";
    font-weight: 500;
    font-style: normal;
}

.manrope-bold {
    font-family: "Manrope";
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Manrope", sans-serif;
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #30D5C8;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	> main {
		flex-grow: 1;
	}
}
[class*="__container"] {
	max-width: 75rem;
	padding-inline: 1rem;
	margin: 0 auto;
}

.header {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    padding-block: 2rem;
}

.lesson__list > *:not(:last-child) {
    margin-bottom: .5rem;   
}

.lesson__link {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    font-size: 1.125rem;
    font-weight: 500;
    transition: .3s; 
}

.lesson__link::after {
    left: 50%;  
    position: absolute;
    content: '';
    width: 0;
    height: .125rem;
    background: #000;
    bottom: .1875rem;
    box-shadow: .0625rem .0625rem .125rem rgba(0,0,0,0.6);
    transition: .3s;
}

.lesson__link:hover {
    text-shadow: .0625rem .0625rem .125rem rgba(0,0,0,0.6);
}
.lesson__link:hover:after {
    width: 100%;
    left: 0;
}

.homework__list > *:not(:last-child) {
    margin-bottom: 1rem;
}

.item__body ol,
.item__body ul,
.homework__body ol,
.homework__body ul {
    margin-left: 1.5rem;
}

.item__body ol > li,
.homework__body ol > li {
    list-style: auto;
}

.item__body ul > li,
.homework__body ul > li {
    list-style: disc;
}

.homework__title,
.answer__title {
    font-size: 1.5rem;
}

.homework__condition {
    margin-bottom: 1rem;
}

.homework__condition > *:not(:last-child) {
    margin-bottom: .625rem;
}

.homework__answer > *:not(:last-child) {
    margin-bottom: 1rem;
}

.item {
    padding: 1rem;
    border: 1px solid #4c4c4c70;
    border-radius: .5rem;
    box-shadow:
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
}

.item__body {
    display: flex;
    flex-direction: column;
}

.item__body p > span {
    display: flex;
    line-height: 1;
    opacity: .8;
}

.item__body > *:not(:last-child) {
    margin-bottom: 0.625rem;
}

.item__label {
    display: flex;
    justify-content: center;
    max-width: 120px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1;
    padding: .5rem;
    background: #8f8f8f;
    color: #fff;
    text-shadow: .0625rem .0625rem .125rem rgba(0,0,0,0.6);
    border-radius: 5px;
    box-shadow:
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
}

.item__link {
    position: relative;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    line-height: 1;
    align-self: flex-end;
    align-items: center;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.3),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: .3s;
    background: #737373;
    z-index: 1;
}

.item__link:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #004641;
    border-radius: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.3),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: .3s;
}

.item__link:hover:after {
    left: 0;
    width: 100%;
}

label {
    display: flex;
    flex-wrap: wrap;
}

input {
    width: 200px;
    background: #fff;
    border: 1px solid gray;
}

table, td {
    border: 1px solid #000;
}

table {
    max-width: 100px;
    background: #fff;
}

hr {
    margin-block: 1rem;
    border: .5px solid #4c4c4c61;
}

.footer {
    margin-block: 1rem;
}

.footer__cotyright {
    color: #4c4c4c;
    text-align: center;
}