.header {
    color: #fff;
    padding-block: 20px;
    background-color: green;
}

.logo-inner {
    display: flex;
    width: 60px;
    aspect-ratio: 1;
    margin-block: -15px;
}

.logo {
    width: 100%;
    object-fit: contain;
    transition: .3s;
}

.logo:hover {
    filter: drop-shadow(3px 3px 1px rgba(211, 175, 55, 0.8));
}

.home {
    /* background-color: red; */
    cursor: default;

}

.home .logo {
    filter: drop-shadow(3px 3px 1px rgba(211, 175, 55, 0.8));
    fill: #d3af37;
}

@media (max-width: 650px) {
    .header {
        padding-block: 15px;
    }
}