.radio-hidden {
    display: none;
}

.radio-card {
    display: flex;
    width: 100%;
    max-width: 150px;
}

.radio-label {
    cursor: pointer;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    transition: all 0.3s ease;
}

.radio-label:hover {
    border-color: #007bff;
    background-color: rgba(230, 240, 255, .5);
    transform: scale(1.05);
}

.radio-hidden:checked+.radio-label {
    border-color: #007bff;
    background-color: rgba(230, 240, 255, .5);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
    color: black;
}

.radio-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
}

.radio-text {
    font-size: 14px;
    font-weight: bold;
}