input {
    padding: .1rem;
    width: 12rem;
}

input:focus-visible {
    outline-color: aqua;
}

input::placeholder {
    color: #666;
    transition: .3s;
}

input:focus-visible::placeholder {
    opacity: 0;
}

button {
    align-self: flex-start;
    border: 2px solid rgb(71, 71, 71);
    border-radius: .3rem;
    padding-block: .235rem;
    padding-inline: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s;
    color: rgb(71, 71, 71);
}

button:hover {
    background-color: aqua;
    color: rgb(71, 71, 71);
    border-color: aqua;
}

.bank-account {
    display: flex;
    flex-direction: column;
}

.bank-account>*:not(:last-child) {
    margin-bottom: 0.7rem;
}

.bank-account {
    .row:not(:last-child) {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        position: relative;

        label {
            display: flex;
            align-items: center;
            column-gap: 1rem;

        }

        .error {
            position: absolute;
            bottom: -0.8rem;
            font-size: .8rem;
        }
    }
}

.autoresection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autoresection>*:not(:last-child) {
    margin-bottom: 0.5rem;
}

.autoresection label {
    display: grid;
    grid-template-columns: 7rem 1fr;
}

.autoresection button {
    align-self: center;
    max-width: 304px;
    width: 100%;
}

#congratulation img {
    width: 100%;
    object-fit: contain;
}