.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 15px;
    background-color: grey;
}

.footer p {
    margin: 0;
    color: #fff;
}