.navigate {
    display: flex;
    gap: 2rem;
}

.link {
    position: relative;
    color: var(--cp-neon-blue);
    text-decoration: none;
    transition: .3s;

    &:hover {
        color: var(--cp-neon-cyan);

        &::after {
            background-color: var(--cp-neon-cyan);
        }
    }

    &::after {
        position: absolute;
        left: 0;
        bottom: -3px;
        content: '';
        width: 100%;
        height: 2px;
        background-color: transparent;
        transition: .3s;
    }
}

.link.active {
    color: var(--cp-neon-pink);
    cursor: default;

    &::after {
        background-color: var(--cp-neon-pink);
    }

    &::hover {
        cursor: default;
    }
}

@media (max-width: 650px) {
    .navigate {
        justify-content: end;
        flex-wrap: wrap;
        gap: 0.5em;
    }
}