/* .del {
    align-self: flex-end;
    background-color: transparent;
    border-color: transparent;
    padding: 8px;
    position: absolute;
    top: 5px;
    right: 5px;
} */

.del {
    align-self: flex-end;
    position: absolute;
    top: 5px;
    right: 5px;

    padding: 8px 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;

    background: rgba(255, 255, 255, 0.2);
    /* напівпрозорий фон */
    backdrop-filter: blur(6px);
    /* ефект скла */
    -webkit-backdrop-filter: blur(6px);
    /* для Safari */

    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease;
}

.del:hover {
    background: rgba(255, 255, 255, 0.3);
}