.search {}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item {
    padding: 5px;
}

.item>*:not(:last-child) {
    margin-bottom: .3rem;
}

.link-block>*:not(:last-child) {
    margin-bottom: .3rem;
}

.link-block:hover .title {
    text-decoration: underline;
}

.wrapper {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 1rem;
}

.image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px;
    min-height: 50px;
    grid-row: 1/3;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
}

.image {
    width: 70%;
    object-fit: contain;
}

.label {}

.link {}

.title {
    font-size: 20px;
    font-weight: 600;
    color: #0b57d0;
    transition: .3s;
}

.description {}