.translator {
    margin: 0 auto;
    max-width: 300px;
}

.translator>*:not(:last-child) {
    margin-bottom: .5rem;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid transparent;
}

.wrapper>*:not(:last-child) {
    margin-bottom: 0.5rem;
}

.error {
    border: 2px solid red;
}

.hint {
    font-size: 18px;
    text-align: center;
}

.input {
    padding: .1rem;
    width: 100%;
}

.input:focus-visible {
    outline-color: aqua;
}

.input::placeholder {
    color: #666;
    transition: .3s;
}

.input:focus-visible::placeholder {
    opacity: 0;
}

.button {
    align-self: center;
    border: 2px solid rgb(71, 71, 71);
    border-radius: .3rem;
    padding-block: .235rem;
    padding-inline: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s;
    color: rgb(71, 71, 71);
}

.button:hover {
    background-color: aqua;
    color: rgb(71, 71, 71);
    border-color: aqua;
}